In [1]:
import pandas as pd
from optimol import data_compile
from optimol import model

First build the dataset that can be used to build model. The function build_model will read files from datababse and write out a csv file called model.csv in optimol folder. The dataset contains all molecular imformation with essential format which will be used for next step. (Note this function takes about 3 minutes).

In [3]:
model.build_model()

C:\Users\weishi\direct\OptiMol\optimol\model.py:34: RuntimeWarning: invalid value encountered in true_divide
  return vector / np.linalg.norm(vector)

First read the model.csv. Get the multiregressor model by using get_model function, then evaluate the model's performance through 5-fold cross-validation.

In [3]:
import os
os.getcwd()

'C:\\Users\\weishi\\direct\\OptiMol'

In [4]:
data = pd.read_csv('C:\\Users\\weishi\\direct\\OptiMol\\optimol\\model.csv')
estimator = model.get_model(data)
model.model_eval(estimator,data)

Accuracy: 55.49% (2.09%)

In [5]:
id_list = data_compile.get_id()
demo_input = data_compile.get_df_database(id_list[3])[0][['2d_x','2d_y','periodic_#_2d','bond_1_2d','bond_2_2d','bond_3_2d']].reset_index(drop=True)
demo_input

     2d_x    2d_y  periodic_#_2d  bond_1_2d  bond_2_2d  bond_3_2d
0  4.6055 -1.9942              7          1          0          0
1  3.4542 -2.6574              6          2          1          0
2  3.4542 -3.9884              8          0          1          0
3  2.3028 -1.9942              6          2          1          0
4  1.1514 -2.6620              6          1          1          0
5  0.0000 -1.9942              6          1          1          0
6  0.0000 -0.6632              7          1          1          0
7  1.1514  0.0000              6          1          1          0
8  2.3028 -0.6632              6          1          1          0

In [7]:
model.predict_3d(demo_input,estimator)

       3d_x      3d_y      3d_z
0  1.799376 -0.046763 -0.040233
1  0.557831 -0.215743  0.335885
2 -1.711492  0.673397  0.058597
3  1.522962 -0.532426 -0.194860
4  1.560337  1.244744 -0.046162
5  0.713294 -0.253275 -0.079990
6 -0.025737  0.218338 -0.080859
7  0.784534 -0.225123  0.003144
8  0.078967 -0.438747 -0.015504